In [3]:
# Q1 Book
!pip install mlxtend
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

Requirement already satisfied: mlxtend in c:\users\win\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\win\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\win\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in c:\users\win\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\win\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\win\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\win\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\win\anaconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: cycler>=0.10 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\win\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\win\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\win\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\win\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [4]:
book = pd.read_csv("Book.csv")
book

      ChildBks  YouthBks  CookBks  DoItYBks  RefBks  ArtBks  GeogBks  ItalCook  ItalAtlas  ItalArt  Florence
0            0         1        0         1       0       0        1         0          0        0         0
1            1         0        0         0       0       0        0         0          0        0         0
2            0         0        0         0       0       0        0         0          0        0         0
3            1         1        1         0       1       0        1         0          0        0         0
4            0         0        1         0       0       0        1         0          0        0         0
...        ...       ...      ...       ...     ...     ...      ...       ...        ...      ...       ...
1995         0         0        1         0       0       1        1         1          0        1         1
1996         0         0        0         0       0       0        0         0          0        0         0
1997         0         0        0         0       0       0        0         0          0        0         0
1998         0         0        1         0       0       0        0         0          0        0         0
1999         0         0        0         0       0       0        0         0          0        0         0

[2000 rows x 11 columns]

# Apriori Algorithm

In [6]:
book_items =apriori(book, min_support=0.1,use_colnames=True)
book_items

    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (YouthBks, ChildBks)
10   0.2560            (CookBks, ChildBks)
11   0.1840           (DoItYBks, ChildBks)
12   0.1515             (RefBks, ChildBks)
13   0.1625             (ArtBks, ChildBks)
14   0.1950            (GeogBks, ChildBks)
15   0.1620            (YouthBks, CookBks)
16   0.1155           (YouthBks, DoItYBks)
17   0.1010             (ArtBks, YouthBks)
18   0.1205            (YouthBks, GeogBks)
19   0.1875            (CookBks, DoItYBks)
20   0.1525              (RefBks, CookBks)
21   0.1670              (ArtBks, CookBks)
22   0.1925             (CookBks, GeogBks)
23   0.1135            (CookBks, ItalCook)
24   0.1055             (RefBks, DoItYBks)
25   0.1235             (ArtBks, DoItYBks)
26   0.1325            (GeogBks, DoItYBks)
27   0.1105              (RefBks, GeogBks)
28   0.1275              (ArtBks, GeogBks)
29   0.1290  (YouthBks, ChildBks, CookBks)
30   0.1460  (CookBks, DoItYBks, ChildBks)
31   0.1225    (RefBks, CookBks, ChildBks)
32   0.1265    (ArtBks, CookBks, ChildBks)
33   0.1495   (CookBks, GeogBks, ChildBks)
34   0.1045  (GeogBks, DoItYBks, ChildBks)
35   0.1020    (ArtBks, GeogBks, ChildBks)
36   0.1015    (ArtBks, CookBks, DoItYBks)
37   0.1085   (CookBks, GeogBks, DoItYBks)
38   0.1035     (ArtBks, CookBks, GeogBks)

In [19]:
rules = association_rules(book_items, metric="lift",min_threshold=1)
rules
rules.sort_values('lift',ascending=False).head(10)

            antecedents          consequents  antecedent support  ...      lift  leverage  conviction
28            (CookBks)           (ItalCook)              0.4310  ...  2.320186  0.064582    1.203406
29           (ItalCook)            (CookBks)              0.1135  ...  2.320186  0.064582         inf
77   (ArtBks, ChildBks)            (GeogBks)              0.1625  ...  2.274247  0.057150    1.944628
80            (GeogBks)   (ArtBks, ChildBks)              0.2760  ...  2.274247  0.057150    1.328448
85             (ArtBks)  (CookBks, DoItYBks)              0.2410  ...  2.246196  0.056313    1.403674
84  (CookBks, DoItYBks)             (ArtBks)              0.1875  ...  2.246196  0.056313    1.654797
99            (GeogBks)    (ArtBks, CookBks)              0.2760  ...  2.245509  0.057408    1.332800
94    (ArtBks, CookBks)            (GeogBks)              0.1670  ...  2.245509  0.057408    1.904063
97             (ArtBks)   (CookBks, GeogBks)              0.2410  ...  2.230964  0.057107    1.415327
96   (CookBks, GeogBks)             (ArtBks)              0.1925  ...  2.230964  0.057107    1.641657

[10 rows x 9 columns]

In [20]:
rules[rules.lift>1]

           antecedents         consequents  antecedent support  ...      lift  leverage  conviction
0           (YouthBks)          (ChildBks)              0.2475  ...  1.576044  0.060308    1.731000
1           (ChildBks)          (YouthBks)              0.4230  ...  1.576044  0.060308    1.233750
2            (CookBks)          (ChildBks)              0.4310  ...  1.404179  0.073687    1.421069
3           (ChildBks)           (CookBks)              0.4230  ...  1.404179  0.073687    1.441240
4           (DoItYBks)          (ChildBks)              0.2820  ...  1.542511  0.064714    1.660347
..                 ...                 ...                 ...  ...       ...       ...         ...
95   (ArtBks, GeogBks)           (CookBks)              0.1275  ...  1.883445  0.048547    3.022812
96  (CookBks, GeogBks)            (ArtBks)              0.1925  ...  2.230964  0.057107    1.641657
97            (ArtBks)  (CookBks, GeogBks)              0.2410  ...  2.230964  0.057107    1.415327
98           (CookBks)   (ArtBks, GeogBks)              0.4310  ...  1.883445  0.048547    1.148237
99           (GeogBks)   (ArtBks, CookBks)              0.2760  ...  2.245509  0.057408    1.332800

[100 rows x 9 columns]

# Q2 My Movies

In [9]:
movie = pd.read_csv("my_movies.csv")
movie

              V1             V2             V3          V4     V5  ...  LOTR2  Harry Potter2  LOTR  Braveheart  Green Mile
0    Sixth Sense          LOTR1  Harry Potter1  Green Mile  LOTR2  ...      1              0     0           0           1
1      Gladiator        Patriot     Braveheart         NaN    NaN  ...      0              0     0           1           0
2          LOTR1          LOTR2            NaN         NaN    NaN  ...      1              0     0           0           0
3      Gladiator        Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
4      Gladiator        Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
5      Gladiator        Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
6  Harry Potter1  Harry Potter2            NaN         NaN    NaN  ...      0              1     0           0           0
7      Gladiator        Patriot            NaN         NaN    NaN  ...      0              0     0           0           0
8      Gladiator        Patriot    Sixth Sense         NaN    NaN  ...      0              0     0           0           0
9    Sixth Sense           LOTR      Gladiator  Green Mile    NaN  ...      0              0     1           0           1

[10 rows x 15 columns]

# Pre Processing

In [12]:
df = pd.get_dummies(movie)
df

   Sixth Sense  Gladiator  LOTR1  Harry Potter1  ...  V3_Harry Potter1  V3_Sixth Sense  V4_Green Mile  V5_LOTR2
0            1          0      1              1  ...                 1               0              1         1
1            0          1      0              0  ...                 0               0              0         0
2            0          0      1              0  ...                 0               0              0         0
3            1          1      0              0  ...                 0               1              0         0
4            1          1      0              0  ...                 0               1              0         0
5            1          1      0              0  ...                 0               1              0         0
6            0          0      0              1  ...                 0               0              0         0
7            0          1      0              0  ...                 0               0              0         0
8            1          1      0              0  ...                 0               1              0         0
9            1          1      0              0  ...                 0               0              1         0

[10 rows x 25 columns]

# Apriori Algorithm

In [14]:
movie_items = apriori(df, min_support=0.1, use_colnames=True)
movie_items

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (V4_Green Mile, V2_LOTR1, Sixth Sense, LOTR1, ...
1393      0.1  (V4_Green Mile, LOTR2, V2_LOTR1, Sixth Sense, ...
1394      0.1  (V4_Green Mile, LOTR2, V2_LOTR1, Sixth Sense, ...
1395      0.1  (V4_Green Mile, LOTR2, V2_LOTR1, LOTR1, V5_LOT...
1396      0.1  (V4_Green Mile, LOTR2, V2_LOTR1, Sixth Sense, ...

[1397 rows x 2 columns]

In [15]:
rules = association_rules(movie_items, metric="lift",min_threshold=1)
rules
rules.sort_values('lift', ascending=False).head(10)

                                             antecedents  ... conviction
32108  (V5_LOTR2, V3_Harry Potter1, Harry Potter1, Gr...  ...        inf
52636         (LOTR2, Green Mile, V2_LOTR1, Sixth Sense)  ...        inf
33413                                  (V5_LOTR2, LOTR2)  ...        inf
33414                             (LOTR2, Harry Potter1)  ...        inf
33415                            (V2_LOTR1, Sixth Sense)  ...        inf
33416                                  (LOTR1, V2_LOTR1)  ...        inf
33417                               (V5_LOTR2, V2_LOTR1)  ...        inf
33418                          (Harry Potter1, V2_LOTR1)  ...        inf
33419                               (LOTR1, Sixth Sense)  ...        inf
33420                            (V5_LOTR2, Sixth Sense)  ...        inf

[10 rows x 9 columns]

In [16]:
rules.sort_values('lift',ascending = False)[0:20]

                                             antecedents  ... conviction
32108  (V5_LOTR2, V3_Harry Potter1, Harry Potter1, Gr...  ...        inf
52636         (LOTR2, Green Mile, V2_LOTR1, Sixth Sense)  ...        inf
33413                                  (V5_LOTR2, LOTR2)  ...        inf
33414                             (LOTR2, Harry Potter1)  ...        inf
33415                            (V2_LOTR1, Sixth Sense)  ...        inf
33416                                  (LOTR1, V2_LOTR1)  ...        inf
33417                               (V5_LOTR2, V2_LOTR1)  ...        inf
33418                          (Harry Potter1, V2_LOTR1)  ...        inf
33419                               (LOTR1, Sixth Sense)  ...        inf
33420                            (V5_LOTR2, Sixth Sense)  ...        inf
33421                       (Harry Potter1, Sixth Sense)  ...        inf
33422                                  (V5_LOTR2, LOTR1)  ...        inf
33423                             (LOTR1, Harry Potter1)  ...        inf
33424                          (V5_LOTR2, Harry Potter1)  ...        inf
52643              (V5_LOTR2, LOTR1, LOTR2, Sixth Sense)  ...        inf
52642      (V1_Sixth Sense, LOTR2, Green Mile, V2_LOTR1)  ...        inf
33427                                         (V2_LOTR1)  ...        inf
52641            (V5_LOTR2, LOTR2, Green Mile, V2_LOTR1)  ...        inf
52640        (V5_LOTR2, V1_Sixth Sense, LOTR2, V2_LOTR1)  ...        inf
33430                                         (V5_LOTR2)  ...        inf

[20 rows x 9 columns]

In [17]:
rules[rules.lift>1]

              antecedents                                        consequents  ...  leverage  conviction
0             (Gladiator)                                      (Sixth Sense)  ...      0.08         1.4
1           (Sixth Sense)                                        (Gladiator)  ...      0.08         1.8
2               (Patriot)                                      (Sixth Sense)  ...      0.04         1.2
3           (Sixth Sense)                                          (Patriot)  ...      0.04         1.2
4                  (LOTR)                                      (Sixth Sense)  ...      0.04         inf
...                   ...                                                ...  ...       ...         ...
64211          (V5_LOTR2)  (V4_Green Mile, LOTR2, V2_LOTR1, Sixth Sense, ...  ...      0.09         inf
64212    (V1_Sixth Sense)  (V4_Green Mile, LOTR2, V2_LOTR1, Sixth Sense, ...  ...      0.08         1.8
64213  (V3_Harry Potter1)  (V4_Green Mile, LOTR2, V2_LOTR1, Sixth Sense, ...  ...      0.09         inf
64214     (Harry Potter1)  (V4_Green Mile, LOTR2, V2_LOTR1, Sixth Sense, ...  ...      0.08         1.8
64215        (Green Mile)  (V4_Green Mile, LOTR2, V2_LOTR1, Sixth Sense, ...  ...      0.08         1.8

[64202 rows x 9 columns]